* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(51, 51, 58);
}

#letHimChoose {
    position: absolute;
    top: calc(30% - 105px);
    left: calc(50% - 250px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 210px;
    border-radius: 40px;
    background-color: #fff;
    text-align: center;
    z-index: 1;
}

#letHimChoose h1 {
    margin-top: 20px;
}

#letHimChoose h2 {
    margin-top: 20px;
}

.chooseBtn {
    display: inline-block;
    border: 1px solid rgb(92, 92, 92);
    width: 120px;
    height: 50px;
    margin: 20px 10px;
    font-size: 25px;
    border-radius: 10px;
    background-color: #fff;
}

.chooseBtn:hover {
    background-color: rgb(188, 188, 188);
}

#container {
    margin: 0 auto;
    position: relative;
    width: 95%;
    height: 98vh;
    padding: 0 20px;
    background-color: rgb(51, 51, 58);
}

.mark {
    position: absolute;
    top: 50px;
    color: #fff;
    font-size: 60px;
}

#userMark {
    left: 300px;
}

#systemMark {
    right: 300px;
}

.paddle {
    position: absolute;
    top: calc(50% - 45px);
    width: 30px;
    height: 120px;
    background-color: #fff;
}

#leftPaddle {
    left: 20px;
}

#rightPaddle {
    right: 20px;
}

#net {
    position: absolute;
    top: 5%;
    left: calc(50% - 8px);
    height: 90%;
    border: 4px dashed #fff;
    /* background-color: #fff; */
}

#ball {
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 19px);
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
}